:root {
  --color-bg1: #4b1d83;
  --color-bg2: #350052;
  --color-bg3: #1b0030;

  --color-main: #c78cff;
  --color-alt: #f0e6ff;
  --color-form-bg: #1a0a2a;
  --color-input-bg: #26003d;
  --color-input-border: #6f2bbd;

  --color-btn: #6f2bbd;
  --color-btn-hover: #4b1d83;
  --color-btn-del: #b0004e;

  --color-modal: rgba(111,43,189,0.28);
  --color-hover: #2b0c45;

  --color-white: #ffffff;
}

html {
  background: var(--color-bg1);
  background: linear-gradient(150deg, var(--color-bg2) 0%, var(--color-bg3) 100%);
}

h1, h2, h2.popUp {
  color: var(--color-main);
}

form, #notesList li, .modal-content {
  background-color: var(--color-form-bg);
  color: var(--color-main);
}

input, select {
  border: 1px solid var(--color-input-border);
  background: var(--color-input-bg);
  color: var(--color-main);
}

button.edit-button, .btn,
button[type="submit"], button[type="button"] {
  background-color: var(--color-btn);
  color: var(--color-white);
}

button.edit-button:hover, .btn:hover,
button[type="submit"]:hover, button[type="button"]:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-white);
}

button.delete-button {
  background-color: var(--color-btn-del);
  color: var(--color-white);
}

button.delete-button:hover {
  background-color: var(--color-btn);
}

.install-button, #homeButton {
  background-color: var(--color-bg2);
  color: var(--color-main);
  border: 2px solid var(--color-main);
}

.install-button:hover, #homeButton:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

.install-button:active, #homeButton:active {
  background-color: var(--color-bg2);
  color: var(--color-main);
}

#homeButton img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(90%) saturate(3049%) hue-rotate(219deg) brightness(103%) contrast(101%);
}

.modal {
  background-color: var(--color-modal);
}

.close {
  color: var(--color-main);
}

.close:hover,
.close:focus {
  color: var(--color-bg1);
}

#notesList li:hover {
  background-color: var(--color-hover);
}

.required {
  color: var(--color-main);
  font-weight: bold;
  text-shadow: 0 0 3px var(--color-alt), 0 0 6px var(--color-main);
}

::selection {
  background-color: var(--color-main);
  color: var(--color-alt);
}

.theme-image {
  position: fixed;
  pointer-events: none; 
  object-fit: contain;
  margin: 0 !important;
  padding: 0 !important;
}

.bottom {
  bottom: 0px;
  left: 0;
  width: 100vw;
  max-width: 100vw;
}

.top-left {
  top: 0px;
  left: 0px;
  max-width: 25%;
  max-height: 25%;
}

.top-right {
  top: 0;
  right: 0;
  max-width: 40%;
  max-height: 40%;
}