html {
  background: #222;
  background: linear-gradient(150deg,#29160d 0%, #fd6406 100%);
}

h1, h2, h2.popUp {
  color: #fd6406;
}

form, #notesList li, .modal-content {
  background-color: #232323;
  color: #ffa94d;
}

input, select {
  border: 1px solid #fd6406;
  background: #3a1d0b;
  color: #ffa94d;
}

button.edit-button, .btn, button[type="submit"], button[type="button"] {
  background-color: #fd6406;
  color: #ffffff;
}

button.edit-button:hover, .btn:hover, button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #9e3200;
  color: #ffffff;
}

button.delete-button {
  background-color: #8c1c13;
  color: #fff;
}

button.delete-button:hover {
  background-color: #cd2a1c;
}

.install-button, #homeButton {
  background-color: #231a15;
  color: #fd6406;
  border: 2px solid #fd6406;
}

.install-button:hover, #homeButton:hover {
  background-color: #fd6406;
  color: #ffffff;
}

.install-button:active, #homeButton:active {
  background-color: #231a15;
  color: #fd6406;
}

#homeButton img {
  filter: brightness(0) saturate(100%) invert(44%) sepia(53%) saturate(4011%) hue-rotate(359deg) brightness(104%) contrast(98%);
}

.modal {
  background-color: rgba(40, 8, 0, 0.6);
}

.close {
  color: #fd6406;
}

.close:hover,
.close:focus {
  color: #fff;
}

#notesList li:hover {
  background-color: #313131;
}

.required {
  color: #fd6406;
  font-weight: bold;
  text-shadow: 0 0 3px #232323, 0 0 6px #fd6406;
}

::selection {
  background-color: #fd6406; 
  color: #232323; 
}

.theme-image {
  position: fixed;
  pointer-events: none; 
  object-fit: contain;
  margin: 0px !important;
  padding: 0px !important;
  z-index: -1;
}

.bottom {
  bottom: -2px;
  left: 0;
  width: 100vw;
  min-width: 100vw;
}

.top-left {
  top: 0;
  left: 0;
  max-width: 30%;
  max-height: 30%;
}

.top-right {
  top: 0;
  right: 0;
  max-width: 30%;
  max-height: 30%;
}
