html {
  background: #08e8de;
  background: linear-gradient(150deg, #c5fff2 0%, #280d59 100%);
}

h1, h2, h2.popUp {
  color: #2a006e;
}

form, #notesList li, .modal-content {
  background-color: #eaffff;
  color: #2a006e;
}

input, select {
  border: 1px solid #08e8de;
  background: #cdfdfd;
  color: #2a006e;
}

button.edit-button, .btn, button[type="submit"], button[type="button"] {
  background-color: #2a006e;
  color: #ffffff;
}

button.edit-button:hover, .btn:hover, button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #059790;
  color: #ffffff;
}

button.delete-button {
  background-color: #d950ff;
  color: #fff;
}

button.delete-button:hover {
  background-color: #2a006e;
}

.install-button, #homeButton {
  background-color: #c5fff2;
  color: #2a006e;
  border: 2px solid #2a006e;
}

.install-button:hover, #homeButton:hover {
  background-color: #2a006e;
  color: #ffffff;
}

.install-button:active, #homeButton:active {
  background-color: #c5fff2;
  color: #2a006e;
}

#homeButton img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(22%) saturate(6448%) hue-rotate(250deg) brightness(116%) contrast(132%);
}

.modal {
  background-color: rgba(8, 232, 222, 0.3);
}

.close {
  color: #2a006e;
}

.close:hover,
.close:focus {
  color: #08e8de;
}

#notesList li:hover {
  background-color: #d5f7f7;
}

.required {
  color: #2a006e;
  font-weight: bold;
  text-shadow: 0 0 3px #c5fff2, 0 0 6px #2a006e;
}

::selection {
  background-color: #2a006e;
  color: #c5fff2;
}

.theme-image {
  position: fixed;
  pointer-events: none; 
  object-fit: contain;
  margin: 0px !important;
  padding: 0px !important;
}

.bottom {
  bottom: -2px;
  left: 0;
  width: 100vw;
  max-width: 100vw;
}

.top-left {
  top: 4px;
  left: 8px;
  max-width: 25%;
  max-height: 25%;
}

.top-right {
  top: 0;
  right: 0;
  max-width: 40%;
  max-height: 40%;
}