* {
    box-sizing: border-box;
  } 

body {
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

#mainContent {
  margin: 50px 15%;
  padding-bottom: 80px;
}

.modal-content {
  font-family: "Segoe UI", sans-serif;
}
  
h1, h2 {
  text-align: center;
}

h2.popUp {
  margin-top: 0%;
}

.close {
  float: right;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
}
  
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
form {
  border-radius: 8px;
  padding: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
  
button[type="submit"], button[type="button"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
button.delete-button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
#notesList ul {
  list-style-type: none;
  padding: 0;
}
  
#notesList li {
  padding: 12px;
  border-radius: 8px;
}
  
#notesList li span {
  display: block;
  font-weight: bold;
}
  
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.modal-content {
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}
  
.modal-content h2 {
  text-align: center;
}
  
.btn {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-container {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;  
  flex-direction: row; 
}

.install-button, #homeButton {
  text-align: center;
  padding: 12px 24px;
  font-size: 0.9rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  color: #1976D2;
  border: 2px solid #1976D2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.install-button:hover, #homeButton:hover {
  background-color: #1976D2;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.install-button:active, #homeButton:active {
  background-color: white;
  color: #1976D2;
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  #mainContent {
    margin: 50px 5%;
  }

  #homeButton {
    width: auto;
  }
}