body {
  color: #333;
  background: #88D96D;
  background: linear-gradient(150deg,#0ea57d 0%, #007052 100%);
}
  
h1, h2 {
  color: white;
}

 h2.popUp {
  color: black;
}

form {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
input, select {
  border: 1px solid #ccc;
}
  
button.delete-button {
  background-color: #f44336;
  color: white;
}
  
button.delete-button:hover {
  background-color: #e53935;
}
  
#notesList li {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
#notesList li:hover {
  background-color: #f1f1f1;
}
  
.modal {
  background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.close {
  color: #aaa;
}
  
.close:hover,
.close:focus {
  color: black;
}
  
.btn, button[type="submit"], button[type="button"] {
  background-color: #4CAF50;
  color: white;
}

.btn:hover, button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #45a049;
}
