* {
    box-sizing: border-box;
  } 

body {
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#mainContent {
  margin: 50px 15%;
  padding-bottom: 120px;
}

.modal-content {
  font-family: "Segoe UI", sans-serif;
}
  
h1, h2 {
  text-align: center;
}

h2.popUp {
  margin-top: 0%;
}

.close {
  position: absolute;
  float: right;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
}
  
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
  
form {
  border-radius: 8px;
  padding: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
  
button[type="submit"], button[type="button"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
button.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button, .edit-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
  
#notesList ul {
  list-style-type: none;
  padding: 0;
}
  
#notesList li {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  align-items: center;
}
  
#notesList li span {
  display: block;
  font-weight: bold;
}

#notesList li .delete-button, 
#notesList li .edit-button {
  margin-left: 10px;
}

#notesList li p {
  text-align: left;
  font-style: italic;
}

#notesList {
  padding-left: 0;
}
  
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
  
.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}
  
.modal-content h2 {
  text-align: center;
}
  
.btn {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button-container {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;  
  flex-direction: row; 
}

.install-button, #homeButton {
  text-align: center;
  padding: 12px 24px;
  font-size: 0.9rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  #mainContent {
    margin: 50px 5%;
  }

  #homeButton {
    width: auto;
  }

  #notesList li {
    flex-direction: column;
  }

  .button-container-inline {
    margin-top: 20px;
  }

  .note-out-of-20::before {
    content: "";
    display: block;
  }

  .noteSur20, .coef, #notes p {
    margin-top: 5px;
  }
}

.noteSur20 {
  display: inline;
}

.marks-input,
.maxMarks-input,
.coefficient-input,
.description-input,
#modalBtn,
#subjectsToDelete,
#editSubject,
#editMark,
#editMaxMark,
#editCoefficient,
#editDescription {
  margin-bottom: 1rem;
}

#subject {
  height: 40px;
  margin-bottom: 0.6rem;
}

form label {
  margin-bottom: 0.4rem;
  display: inline-block; 
}

#labelPopupDeleteSubject {
  margin-bottom: 0.4rem;
}

#notesTitle {
  margin-top: 75px !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-body * {
  margin: 0;
}

#subjectsToDelete {
  height: 40px;
}

.description-input,
#modalBtn,
#subjectsToDelete,
#editDescription {
  margin-bottom: 2rem !important;
}

#labelPopupDeleteSubject {
  margin-top: 2rem !important;
}

.button-container-inline {
  display: flex;
  gap: 10px; 
  align-items: center;
}

#homeButton img {
  width: 18px; 
  height: 18px;
  vertical-align: middle; 
}

#description, #editDescription {
  width: 100%; 
  min-height: 100px; 
  resize: vertical; 
}

#notesList p {
  margin: 0 !important;
  font-style: normal !important;
}

#editNoteForm {
  padding: 0 !important;
}

#editModal {
  display: flex;
  align-content: center;
}