html {
  background: #88D96D;
  background: linear-gradient(150deg,#0ea57d 0%, #007052 100%);
}
  
h1, h2 {
  color: white;
}

h2.popUp {
  color: black;
}

form {
  background-color: #fff;
}
  
input, select {
  border: 1px solid #ccc;
}

button.edit-button {
  background-color: #23a013;
  color: white;
}

button.edit-button:hover {
  background-color: #25a714;
}
  
button.delete-button {
  background-color: #f44336;
  color: white;
}
  
button.delete-button:hover {
  background-color: #e53935;
}
  
#notesList li {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
#notesList li:hover {
  background-color: #f1f1f1;
}
  
.modal {
  background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.close {
  color: #aaa;
}
  
.close:hover,
.close:focus {
  color: black;
}
  
.btn, button[type="submit"], button[type="button"] {
  background-color: #429945;
  color: white;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.btn:hover, button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #45a049;
}

.install-button, #homeButton {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #39833d;
  border: 2px solid #129956;
}

.install-button:hover, #homeButton:hover {
  background-color: #39833d;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.install-button:active, #homeButton:active {
  background-color: white;
  color: #39833d;
}

#homeButton img {
  filter: invert(24%) sepia(100%) saturate(500%) hue-rotate(100deg) brightness(160%);
}

#homeButton:hover img {
  filter: invert(1) grayscale(100%) brightness(100%) saturate(100%) sepia(100%) hue-rotate(190deg);
}

.required {
  color: #23a013; 
}
