html {
  background: #4391C5;
  background: linear-gradient(150deg,#3693d6 0%, #1a6499 100%);
}
  
h1, h2 {
  color: white;
}

h2.popUp {
  color: black;
}

form {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, select {
  border: 1px solid #ccc;
}

button.edit-button {
  background-color: #1976D2;
  color: white;
}

button.edit-button:hover {
  background-color: #1565C0;
}

button.delete-button {
  background-color: #f44336;
  color: white;
}

button.delete-button:hover {
  background-color: #be2f2d;
}

#notesList li {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#notesList li:hover {
  background-color: #f1f1f1;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
}

.close:hover,
.close:focus {
  color: black;
}

.btn, button[type="submit"], button[type="button"] {
  background-color: #1E88E5;
  color: white;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.btn:hover, button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #1c7cd1;
}

.install-button, #homeButton {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #1976D2;
  border: 2px solid #1976D2;
}

.install-button:hover, #homeButton:hover {
  background-color: #1976D2;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.install-button:active, #homeButton:active {
  background-color: white;
  color: #1976D2;
}

#homeButton img {
  filter: invert(20%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(160%);
}

#homeButton:hover img {
  filter: invert(1) grayscale(100%) brightness(100%) saturate(100%) sepia(100%) hue-rotate(190deg);
}