body {
    background: #fff url("noel-bg.png") no-repeat center center fixed;
    color: #337a4d;
}
header, .card {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 30px #337a4d;
}
button, .btn {
    background: #e7001b;
    color: #fff;
}
a {
    color: #e7001b;
}
